/* CSS variables */
:root {
    --primary-color: #251F1E; /* brown‑black */
    --secondary-color: #e9ebd5; /* pale yellow */
    --highlight-color: #C65A5A; /* warm red */
    --secondary-highlight-color: #F2C94C; /* golden yellow*/
}

/* Global styles */
body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* Buttons */
.btn {
    background-color: var(--highlight-color);
    border-color: var(--secondary-highlight-color);
}

.read-more-link {
    color: var(--highlight-color); 
    font-weight: 600;
    text-decoration: none;
    text-decoration: underline;
}

.read-more-link:hover {
    font-weight: bold;
}


/* Search bar */
#search-box {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color)!important;
    border-radius: 23px;
}

#search-box::placeholder {
    color: var(--secondary-color);
    opacity: 0.5;
}

#search-box:focus { /* keeps the same styling even when using the search bar */
    background-color: transparent;
    border: 3px solid var(--secondary-color);   
    color: var(--secondary-color)!important;
    box-shadow: none;
    outline: none;
}

/* Search mode toggle */
#mode-toggle {
    max-width: 300px;
}

/* Results section of search page */
.results-grid {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Individal festival cards generated */
.event-card {
  display: flex;
  gap: 15px;
  padding: 50px;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  background: var(--primary-color);
  align-items: center;
}

/* event-info class */
.event-info h2 {
    margin-bottom: 0.75rem; /* space under the title */
    font-size: 1.5rem;
}

/* event-meta class */
.event-meta {
    margin-bottom: 0.75rem; /* space under location/date */
}

/* event-description class */
.event-description {
    margin-bottom: 0.75rem; /* space under the info section */
}

/* event-lineup class - NOT YET USED */

/* Highlighting searched artist on lineup */
.highlight-artist {
    color: var(--secondary-highlight-color);
    font-weight: bold;
}

/* Footer section */
.footer-header {
    font-size: 1.7rem;
}

.footer-text {
    font-size: 0.8rem;
}

/* Footer section social media links*/
.social-media-links a {
    color: var(--secondary-color);
    font-size: 1.3rem;
    padding: 10px;
    transition: 0.3s ease; /* smooth animation for hover */
}

.social-media-links a:hover {
    color: var(--highlight-color);
}


/* Media queries */

/* Small devices (mobile, 768px and below) */
@media (max-width: 768px) {
    .event-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
