/* CSS variables */
:root {
    --primary-color: #000000; /* black */
    --secondary-color: #ffffff; /* white */
    --highlight-color: rgb(255, 94, 0); /* orange */
    --secondary-highlight-color: rgba(255, 106, 0, 0.054) ; /* transparent dark orange */
}

/* Global styles */
body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* Buttons */
.btn {
    background-color: var(--highlight-color);
    border-color: var(--secondary-highlight-color);
}

.read-more-btn {
    background-color: var(--highlight-color);
    border-color: var(--secondary-highlight-color);
    color: var(--secondary-color);
}

/* Search bar*/
#search-box {
    max-width: 500px; /* adjust to taste */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Results section of search page */
.results-grid {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Individal festival cards generated */
.event-card {
  display: flex;
  gap: 15px;
  padding: 50px;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  background: var(--secondary-highlight-color);
  align-items: center;
}

/* event-info class */

/* event-meta class */

/* event-description class */

/* event-lineup class */

/* Highlighting searched artist on lineup */
.highlight-artist {
    color: var(--highlight-color);
    font-weight: bold;
}

/* Media queries */

/* Small devices (mobile, 768px and below) */
@media (max-width: 768px) {
    .event-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
